@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&family=Roboto:wght@100;700;900&display=swap');

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'myfont';
}

.header_button {
    background-color: #5222D0;
    border-radius: 100px;
    color: white;
    width: 115px;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 0;
}

.features {
    position: relative;
    left: 40px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.container-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;

}

.block-1__picture {
    height: 270px;
    width: 365px;
}

.block-1__text {
    height: 160px;
    font-family: 'Roboto', sans-serif;
}

.block-1__text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.block-1__form-box {
    display: flex;
    flex-direction: column;
    background-color: #EC615B;
    color: white;
    height: 160px;
    padding: 0 0 40px 10px;
}

.block-1__form-box_form {
    margin: 0 15px 20px 0;
    height: 40px;
    border: 0;
}

.block-1__form-box_button {
    background-color: #5222D0;
    border-radius: 100px;
    color: white;
    width: 130px;
    height: 38px;
    border: 0;
}

.container-footer {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}