/* main container for nav nav and main*/

@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');




.gridcontainer {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 15% 1fr 1fr;
    grid-template-areas: "nav1 nav2 nav2"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
}


/*navigation decoration*/

a {
    text-decoration: none;
    color: black;
    font-family: 'Adamina', serif;
    font-weight: 400;

}

/*navigation left side */
.nav1 {
    margin-left: 10%;
    grid-area: nav1;
    left: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% repeat(7, 8%) 1fr;
    height: 100vh;
    align-items: center;
}

.nav1>* {

    padding: 10px 0 4px 0;
    margin: 0;
}

#eight>img {
    max-width: 20%;
}

#eight {
    align-self: end;
}

/*navigation top part */

.nav2 {
    grid-area: nav2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.leftnav {
    margin-left: 10%;
    width: 40%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 2fr;
}

#searchbar {
    border: 0px;
    font-size: 17px;
}



.leftnav>img {
    margin: auto;
}

.rightnav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.rightnav>a:hover {
    border-bottom: black 3px solid;
}

#manufa {
    justify-self: start;
}

#person {
    justify-self: start;
}

/*main content*/

.main {
    margin: 5% 10% 0% 5%;
    grid-area: main;
    display: grid;
    grid-template-rows: 30% 30% 30% 30%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "img1 img1 img1 img3 img4"
        "img2 img2 img2 img3 img4"
        "img5 img6 img7 img7 img7"
        "img5 img6 img8 img8 img8";
    gap: 10px;
}


.main>div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.div1 {
    grid-area: img1;

}

.img1 {
    object-position: 60% top;
}

.div2 {
    grid-area: img2;

}

.img2 {
    object-position: 0% top;
}

.div3 {
    grid-area: img3;
}

.div4 {
    grid-area: img4;
}

.div5 {
    grid-area: img5;
}

.div6 {
    grid-area: img6;
}

.div7 {
    grid-area: img7;
}

.img7 {
    object-position: 0% bottom;
}

.div8 {
    grid-area: img8;
}

@media screen and (max-width:768px) and (min-width:481px) {
    .maincontainer {
        grid-template-columns: 20% 1fr 1fr;
    }

    .nav1 {
        font-size: 13px;

    }

    .nav1 img {
        display: none;
    }





    #searchbar {

        font-size: small;

    }


    .rightnav {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 10% 10% 25% 25% 10% 5%;
        justify-items: right;
        align-items: center;
        gap: 5px;
        font-size: 10px;
    }

}




@media screen and (max-width: 480px) {
    .gridcontainer {
        height: 100vh;
        width: 90vw;
        display: grid;
        grid-template-rows: 10% 20% 20% 50%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav2 nav2"
            "main main"
            "main main"
            "nav1 nav1";
    }


    /*navigation top part */

    .nav2 {
        grid-area: nav2;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 80%;
        justify-content: right;
    }

    .leftnav {
        margin-left: 0%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 2fr;
    }

    #searchbar {
        opacity: 0;
        font-size: small;

    }

    #searchbar:hover {
        opacity: 1;
        z-index: 2;
        width: 100vw;
    }

    .leftnav>img {
        margin: auto;
    }

    .rightnav {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 15% 10% 25% 25% 10% 5%;
        align-items: center;
        justify-items: center;
        gap: 8px;
        font-size: 10px;
    }



    /*main content*/

    .main {
        grid-area: main;
        display: grid;
        grid-template-rows: 40% 40% 40% 40%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-areas:
            "img1 img1 img1 img3 img4"
            "img2 img2 img2 img3 img4"
            "img5 img6 img7 img7 img7"
            "img5 img6 img8 img8 img8";
        gap: 10px;



    }

    /*navigation from left side moved to bottom */

    .nav1 {
        margin-top: 50%;
        margin-left: 15% !important;
        grid-area: nav1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 10% 10% 10%;
        gap: 0;
        height: 100%;
    }

    #eight {
        align-self: center;
    }


    .nav1>* {
        padding: 0px 0 0px 0;

        font-size: 10px;
    }

    .nav1 img {
        width: 10px;
    }

    #logo {
        grid-area: 1/1/1/4;
        justify-self: center;


    }

    #logo img {
        width: 100%;
        z-index: -1;
    }





}