a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #5A5A5A;
}

.navigationbar {
    position: fixed;
    top: 0px;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    box-sizing: border-box;
    width: 1430px;
    height: 80px;

    background-color: white;
}

.leftpartnav>* {
    padding-right: 16px;

}

.leftpartnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightpartbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    height: fit-content;
    border: black solid 1px;
}

.rightbarelements>* {
    padding-right: 5px;
    padding-left: 5px;



}

#searchbar {
    height: 100%;
    background-color: #ECECEC;
    border-radius: 8px;

}

.mainheader {
    position: relative;
    top: 5px;
    height: 320px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    text-align: center;

    background-image: url(../assets3/Picture.png);
    background-position: center;
    color: azure;

}

h1 {
    padding-top: 130px;
    padding-bottom: 130px;
}



.form {
    position: relative;
    left: 375px;
    right: 379px;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: fit-content;
    column-gap: 10%;
    row-gap: 20px;
    box-sizing: content-box;
    width: 900px;
    height: 576px;
    flex-wrap: wrap;
}

#firstname {
    width: 323px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 600;
    background-color: #ECECEC;
    border-radius: 8px;
}

.firstname {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#lastname {
    width: 323px;
    height: 48px;
    color: #5A5A5A;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    background-color: #ECECEC;

}

.lastname {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#email {
    width: 323px;
    height: 48px;
    color: #5A5A5A;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #ECECEC;
    border-radius: 8px;
}

.email {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

textarea {
    width: 100%;
    height: 192px;
    font-size: 16px;
    color: #5A5A5A;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    background-color: #ECECEC;
}

.textarea {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

label {
    font-family: 'Work Sans', sans-serif;
    color: #414548;
    font-size: 16px;
    padding: 10px;
}

form>button {
    align-self: flex-end;
    color: #ECECEC;
    background-color: #00C3E3;
    border-radius: 8px;
}

footer {
    height: 300px;
}